{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    <div class="text-blue-800">{% trans "Sign Out" %}</div>
{% endblock head_title %}
{% block content %}
<div class="flex flex-col items-center max-w-xl gap-3 m-4 mx-auto card bg-sky-200">
    
    <h1 class="mb-4 text-2xl font-semibold text-center"> Sign Out</h1>
    <hr class="border border-purple-600 border-double border-3">
    <p class="text-blue-800">{% trans 'Are you sure you want to sign out?' %}</p>
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
    {% slot body %}
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden"
    name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}" />
    {% endif %}
    {% endslot %}
    {% slot actions %}
    {% element button type="submit" %}
    <p class="p-2 text-blue-800 rounded-md hover:text-white">Sign Out</p>
    {% endelement %}
    
    {% endslot %}
    {% endelement %}
</div>
{% endblock content %}
