{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="max-w-3xl mx-auto mt-3 card bg-sky-300">
        {% element h1 %}
        <h1 class="mb-3 text-2xl font-semibold text-center"> {% trans "Change Password" %}</h1>
        {% endelement %}
        {% url 'account_change_password' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" %}
                    <p class="text-center text-white bg-blue-600 shadow-lg btn hover:bg-blue-700">{% trans "Change Password" %}</p>
                {% endelement %}
                <a class="text-center text-white bg-blue-600 shadow-lg btn hover:bg-purple-500" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                
            {% endslot %}
        {% endelement %}
    </div>
{% endblock content %}
