{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}

    <div class="max-w-xl p-3 m-4 mx-auto border border-gray-200 card bg-sky-200">
        <h1 class="mb-4 text-2xl font-semibold text-center text-blue-800">Sign up</h1>
        <p class="py-4">
            Already have an account? Then please <a class="p-1 text-white bg-blue-400 rounded-md hover:bg-blue-500" href="{{ login_url }}">sign in</a>.
        </p>
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{% url 'profile-onboarding' %}" />
            {% endslot %}
            {% slot actions %}
                {% element button tags="prominent,signup" type="submit" %}
                <p class="p-2 text-center text-white bg-blue-600 rounded-md shadow-lg btn hover:bg-blue-700"> {% trans "Sign In" %} </p>
                {% endelement %}
            {% endslot %}
        {% endelement %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>

{% endblock content %}
