{% extends 'base.html' %} {% load static %} {% block content %}

<div class="">
  <div  class="py-4 bg-slate-200 dark:bg-gray-600">
    <h3 class="mb-3 text-2xl font-semibold text-center dark:text-yellow-300">
      {{ profile.user }}'s Profile
    </h3>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 mb-2 lg:grid-cols-2 lg:mb-4">
        <!-- title and image -->
        <div class="text-center dark:text-white">
          {% if profile.image %}
          <img class="mx-auto" src="{{ user.profile.image.url }}" alt="avatar" />
          {% else %}
          <h3>Put an image here - Edit the profile</h3>
          {% endif %}
        </div>
        <!-- Body of profile -->
        <div class="p-4 text-center lg:text-left dark:text-white">
          <h4 class="text-2xl dark:text-sky-200">My Camper Story</h4>
          {% if profile.campermode %}
          <p>Often I go camping in a {{ profile.campermode }}</p>
          {% else %}
          <p>
            Lying on a blow up mattress looking at the stars is the best form of
            camping
          </p>
          {% endif %} {% if profile.camperstory %}
          <p class="">{{ profile.camperstory }}</p>
          {% else %}
          <p>
            Don't forget to tell us about your experiences of camping over the
            years. Or is this the first time out and you forgot to bring the
            sleeping bag?
          </p>
          {% endif %}
          <p class="py-3 ">
            Super Camper member since - {{ profile.created }}
          </p>
          <div class="mb-3">{{ profile.user.username }} Nationality - {{ profile.nationality }}</div>
          <span class="p-2 text-gray-700 bg-purple-300 rounded-lg">{{ profile.level }}</span>
          


        </div>

        
      </div>
    </div>
    <div class="flex justify-around max-w-2xl mx-auto">
      {% if profile.level == 'Banned' %}
      <p class="p-2 text-white bg-red-600 rounded-lg">
        You can not post here due to previous posts made which were reported to
        the Admin. Send an email to the Admin to discuss this if you think a mistake was made.
      </p>
      {% else %}
      <a
        class="border-2 border-yellow-500 btn hover:bg-yellow-500 hover:text-white dark:text-white"
        href="{% url 'profile-edit' %}"
        >Edit Profile</a
      >
      <a
        class="border-2 border-sky-500 btn hover:bg-sky-500 hover:text-white dark:text-white"
        href="{% url 'account_change_password' %}"
        >Password Change</a
      >
      {% endif %}
      <a
        class="ml-3 border-2 border-blue-500 btn hover:bg-blue-500 hover:text-white dark:text-white"
        href="{% url 'home' %}"
        >Home Page</a
      >
    </div>
  </div>
</div>

<main class="grid grid-cols-1 lg:grid-cols-4">
  <div class="col-span-3 p-4 mx-auto bg-slate-300 dark:bg-slate-500">
    {% include 'includes/cards.html' %} {% block main %}{% endblock main %}
  </div>
  <div class="col-span-1 bg-slate-200 dark:bg-slate-400">
    {% include 'includes/sidebar1.html' %}
  </div>
</main>

{% endblock %}
