{% extends 'base.html' %}


{% block content %}

    
<div class="w-2/3 mx-auto mt-5 shadow card px-md-5 bg-sky-200 dark:bg-sky-500">
            <div class="text-center ">
                <h1 class="text-2xl font-semibold">Edit Your Profile</h1>
                <p class="mb-4">Put in the basics of who you are. Nothing personal, just the basics about you and your camping
                    experiences</p>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="flex justify-between max-w-lg mx-auto my-4">
                    <button type="submit" class="text-white bg-blue-600 btn">Submit</button>
                    <a class="text-white bg-gray-400 btn" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                    <a class="text-white bg-red-600 btn" href="{% url 'profile-delete-confirm' %}">Delete Profile</a>
                </div>
            </form>
        </div>
    

{% endblock content %}