{% extends 'base.html' %} {% load static %} {% block content %}

<div class="">
  <div class="py-4 bg-slate-200">
    <h3 class="mb-3 text-2xl font-semibold text-center">
      {{ profile.user }}'s Profile
    </h3>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 mb-2 lg:grid-cols-2 lg:mb-4">
        <!-- title and image -->
        <div class="text-center">
          {% if profile.image %}
          <img class="mx-auto" src="{{ profile.image.url }}" alt="avatar" />
          {% else %}
          <h3>Put an image here, so much nicer with a picture.</h3>
          {% endif %}
        </div>
        <!-- Body of profile -->
        <div class="p-4 text-center lg:text-left">
          <h4 class="text-2xl">My Camper Story</h4>
          {% if profile.campermode %}
          <p>Often I go camping in a {{ profile.campermode }}</p>
          {% else %}
          <p>
            Lying on a blow up mattress looking at the stars is the best form of
            camping
          </p>
          {% endif %} {% if profile.camperstory %}
          <p class="">{{ profile.camperstory }}</p>
          {% else %}
          <p>
            Don't forget to tell us about your experiences of camping over the
            years. Or is this the first time out and you forgot to bring the
            sleeping bag?
          </p>
          {% endif %}
          <p class="py-3 ">
            Super Camper member since - {{ profile.created }}
          </p>
          <div class="mb-3">Nationality - {{ profile.nationality }}</div>
          <p class="mb-3">Supercamper Plots Created: <span class="px-3 py-2 font-semibold border-2 border-blue-800 rounded-full bg-sky-300">{{ user.plots.count }}</span></p>
          <span class="p-2 text-white bg-purple-700 rounded-lg">{{ profile.level }}</span>


          <div x-data="{ modal_open:false }">
            <div class="px-4 py-2 mb-3 shadow-sm bottom-2 right-2">
              <a @click="modal_open = true" class="flex items-center justify-center gap-2 mt-3 text-white bg-indigo-300 rounded-full cursor-pointer hover:bg-indigo-700 h-14 w-14">
                  <img class="h-6 m-auto border-2 lg:m-0" src="https://img.icons8.com/external-anggara-glyph-anggara-putra/32/ffffff/external-edit-user-interface-anggara-glyph-anggara-putra.png">
              </a>
          </div>
          
          <div x-show="modal_open" x-cloak class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
              <div x-show="modal_open" x-cloak class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                  <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"></div>
                  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                    <div class="flex items-end justify-center min-h-full p-4 text-center sm:items-center sm:p-0">
                      <div class="relative overflow-hidden text-left transition-all transform bg-white shadow-xl rounded-2xl sm:my-8 sm:w-full sm:max-w-lg">
                        <div @click.away="modal_open = false" class="px-4 pt-5 pb-4 bg-white sm:p-6 sm:pb-4">

                          {% include 'a_inbox/form_newmessage.html' with recipient=profile.user %}
          
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          </div>






        </div>



      </div>
    </div>
    <div class="flex justify-around max-w-2xl mx-auto">
      {% if profile.level == 'Banned' %}
      <p class="p-2 text-white bg-red-600 rounded-lg">
        You can not post here due to previous posts made which were reported to
        the Admin. Send an email to the Admin to discuss this if you think a mistake was made.
      </p>
      {% else %}
      
      {% endif %}
      <a
        class="p-3 ml-3 border-2 border-blue-500 rounded-md hover:bg-blue-500 hover:text-white"
        href="{% url 'home' %}"
        >Home Page</a
      >
    </div>
  </div>
</div>

<main class="grid grid-cols-1 lg:grid-cols-4">
  <div class="col-span-3 p-4 mx-auto bg-slate-300 dark:bg-slate-500">
    {% include 'includes/cards.html' %} {% block main %}{% endblock main %}
  </div>
  <div class="col-span-1 bg-slate-200 dark:bg-slate-400">
    {% include 'includes/sidebar1.html' %}
  </div>
</main>

{% endblock %}
