# Created by https://www.toptal.com/developers/gitignore/api/macos,django,venv
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,django,venv

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
# static/
node/

.env

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class




# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/




### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride



# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

