<div class="card p-2 rounded-4 bg-sky-300 shadow-lg">
    <h3 class="text-center my-2 text-2xl font-semibold">Categories</h3>
    <p class="px-3">Is the plot in a campsite or one of those official camping spots you find in or near a town. Or is it totally
        wild and you found it and loved it because it was a special place?</p>
   
    <h5 class="my-3 text-center text-2xl">Search based on Category</h5>


    <div class="text-center pb-3 flex flex-col xl:flex-row justify-around">
        <a href=" url 'campsite-plots' " class="btn bg-blue-700 m-1 text-white">
            Campsite </a>
        <a href=" url 'official-plots' " class="btn  bg-yellow-500 m-1">
            Official Plot</a>
        <a href=" url 'wild-plots' " class="btn bg-green-700 m-1 text-white">
            Wild</a>
    </div>


</div>