<div class="min-h-full p-2 rounded-lg shadow-lg bg-slate-200 ">
    <h3 class="py-3 mt-2 text-2xl font-semibold text-center">Stickers, Mugs & T Shirts</h3>

    <ul class="p-3">
        <li><strong>Stickers: </strong>First 200 sign ups who leave a review for a campsite
            plot will be founder members and it will always be free to use.</li>
        <li><strong>Two: </strong>From user 201 to 500 the site will be free for the first year.</li>
        <li><strong>Three: </strong>The price will be €3 per month or €20 if you pay for a year.</li>
    </ul>
    <p class="p-3 ">
        Advertisement for Mugs stickers whatever camping gear etc
    </p>
</div>