<div class="card p-2 rounded-4  shadow-lg ">
    <h3 class="text-center mt-2 text-2xl py-3 font-semibold">Stickers, Mugs & T Shirts</h3>

    <ul class="p-3">
        <li><strong>Stickers: </strong>First 200 sign ups who leave a review for a campsite
            plot
            can
            get a SuperCamper sticker</li>
        <li><strong>Two: </strong>Information about the site</li>
        <li><strong>Three: </strong>Links to Other features on the site</li>
    </ul>
    <p class="p-3">
        Advertisement for Mugs stickers whatever camping gear etc
    </p>
</div>