<div class="min-h-full p-2 shadow-lg card rounded-4 bg-slate-200 ">
    <h3 class="py-3 mt-2 text-2xl font-semibold text-center">Stickers, Mugs & T Shirts</h3>

    <ul class="p-3">
        <li><strong>Stickers: </strong>First 200 sign ups who leave a review for a campsite
            plot
            can
            get a SuperCamper sticker</li>
        <li><strong>Two: </strong>Information about the site</li>
        <li><strong>Three: </strong>Links to Other features on the site</li>
    </ul>
    <p class="p-3 ">
        Advertisement for Mugs stickers whatever camping gear etc
    </p>
</div>