{% extends 'base.html' %}


{% block content %}

<!-- Showcase for non-authenticated users -->
    <div class=" text-2xl mx-auto ">
        {% if not user.is_authenticated %}
        {% include 'includes/showcase.html' %}
        {% endif %}
    </div>

    <!-- Main section -->
    <main class="grid  grid-cols-1 lg:grid-cols-4 ">
        <div class="col-span-3 bg-slate-300 p-4">
            {% include 'includes/cards.html' %}
            {% block main %}{% endblock main %}
        </div>
        <div class="col-span-1 bg-blue-200">
            {% include 'includes/sidebar1.html' %}
        </div>

    </main>

{% endblock content %}
    