{% extends 'base.html' %}

{% block content %}
{% if search %}
<h1 class="text-center">You Searched for:  {{ search }}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 ">
            <div class="container col-lg-10">
                <div class="row row-cols-md">
                    {% for plot in plots %}
                    <div class="col-md-6">
                        <div class="p-2 m-2 shadow card">
                            <div class="row">
                                <h3 class="text-center "><i class="bi bi-emoji-sunglasses text-primary"></i>
                                    {{ plot.title }}</h3>
                                    
                            </div>

                            {% if plot.owner %}
                            <h3 class="my-2 btn btn-block btn-outline-info text-dark ">
                                Super Camper: {{ plot.owner.profile.realname }} - User Name - {{ plot.owner }}</h3>
                            {% else %}
                            <h3 class="my-2 btn btn-block btn-outline-info text-dark ">
                                No owner</h3>

                            {% endif %}
                            <p class="text-truncate"><strong>Description:</strong> {{ plot.description }}</p>
                            <ul>
                                <li><strong>Campsite:</strong> {{ plot.campsite }}</li>
                                <li><strong>Country:</strong> {{ plot.countries }}</li>
                            </ul>

                            <a class="btn btn-info btn-sm col" href="{% url 'show-plot' plot.id %}">
                                View Plot</a>
                            <hr>
                            <div>
                                <!-- <a class="btn btn-secondary btn-sm" href="">
                                    {{ plot.categories }}</a> -->
                                <!-- add a link to the category_view -->
                                <div class="container ">
                                    <a class=" btn mt-2 px-3
                                            {% if plot.categories == 'Campsite' %}
                                            btn-blue-700 {% endif %}
                                            {% if plot.categories == 'Wild' %}
                                            btn-success {% endif %}
                                            {% if plot.categories == 'Official' %}
                                            btn-primary {% endif %}
                                            btn-sm" href="">
                                        {{ plot.categories }} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="container text-center">
                    <h1 class="">Try Again....</h1>
                    <h2><em>No plots found</em></h2>
                </div>
                {% endif %}
            </div>
        </div>






        <div class=" col-lg-3">
            <div class=" row row-cols-md">
                <h3 class="text-center">Super Campista !</h3>
                <div class="m-4 ">
                    <div class="col ">

                        {% include 'includes/search.html' %}

                        {% include 'includes/categories.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<br>


{% endblock content %}