{% extends 'base.html' %} {% block content %}
<div class="mx-auto mt-5 max-w-7xl card bg-sky-200" >
  <h1 class="mb-6 text-2xl font-semibold text-center">Check the Reported Posts</h1>
  
  
  <table class="table w-full mx-auto">
    <thead class="border-b-2 border-black">
      <tr>
        <th>Report Date</th>
        <th>Plot Title</th>
        <th>Plot Owner</th>
        <th>Reason</th>
        <th>Reported by</th>

      </tr>
    </thead>

    <tbody class="text-center text-wrap">
      <tr>
        {% for plot in plot_list %}
        <td>{{ plot.reported_date }}</td>
        <td><a href="{% url 'show-plot' plot.id %}">{{ plot.title }}</a></td>
        <td>{{ plot.owner }}</td>
        <td>{{ plot.reason }}</td>
        <td><a href="">{{ plot.reported_by }}</a></td>  
        <!-- I want a link in here to the user who reported the plot -->
        
      </tr>
      <br />

      {% endfor %}
    </tbody>
  </table>

  <h3 class="p-2 my-8 text-xl font-semibold text-white bg-slate-600">A Few Stats</h3>
  <div class="flex flex-col gap-3">
    <p>Plot Count: {{ plot_count }}</p>
    <p>User Count: {{ user_count }}</p>
  </div>


</div>

{% endblock content %}
