{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Check the Reported Posts</h1>
  <br /><br />

<form action="" method="POST">
{% csrf_token %}

</form>

  <table class="table table-striped table hover table-bordered">
    <thead>
      <tr>
        <th>Report Date</th>
        <th>Plot Title</th>
        <th>Plot Owner</th>
        <th>Reason</th>
        <th>Reported by</th>

      </tr>
    </thead>

    <tbody>
      <tr>
        {% for plot in plot_list %}
        <td>{{ plot.reported_date }}</td>
        <td><a href="{% url 'show_plot' plot.id %}">{{ plot.title }}</a></td>
        <td>{{ plot.owner }}</td>
        <td>{{ plot.reason }}</td>
        <td><a href="">{{ plot.reported_by }}</a></td>
        
      </tr>
      <br />

      {% endfor %}
    </tbody>
  </table>

  <h3 class="bg-secondary-subtle p-2 mt-5">A Few Stats</h3>
  Plot Count: {{ plot_count }}<br>
  User Count: {{ user_count }}


</div>

{% endblock content %}
