{% extends 'base.html' %} {% load static %} {% block content %}

<section id="questions" class="p-5 mb-4">
<div class="container">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="questions">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#question-one">
                    How Do I Add a Plot?
                </button>
            </h2>
            <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    <p>
                    <strong>Registered users can add plots to the site. You can add a plot by clicking on the "Add Plot" button in the navigation bar. You will be asked to fill in a form with the details of the plot. You can add a photo of the plot if you have one.</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#question-two">
                    <span class="strong">What Products Do You Offer?</span>
                </button>
            </h2>
            <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    <p>
                        <strong>Going to have mugs, t-shirts and stickers for sale.</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#question-three">
                    Security of Personal Data?
                </button>
            </h2>
            <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    <p>
                        <strong>
                         The site will be fully GDPR compliant. Passwords and email addresses are properly encrypted at the base level. We promise not to sell or otherwise distribute any data on SuperCamper users.
                        </strong>
                    </p>
                    <p><strong>I recommend you do not put personal data into your camping plot reviews. You are encouraged to block out vehicle registration numbers if you feel safer doing so.</strong></p>
                    <p><strong>For the recommendations it can be useful for you and other super camper to know what time of the year you visited the campsite. You don't have to be specific with dates. "A week in high summer" is enough. </strong></p>
</div>
<br>
<br>

</section>

{% endblock content %}
